@charset "utf-8";
/* CSS Document */
/*-----------------------------------------------------------------Admin Pages Style Starts-----------------------------------------------------------------*/
@media (max-width: 1000px) {
.dateOption{
	float:none;
	clear:both;
	padding-top:15px;
	}
}
@media (max-width: 768px) {
.theme3 .bodyPanel{
	min-height:870px;
	}
}
@media (max-width: 767px) {
.theme1 .rightContact,
.theme2 .rightContact,
.theme3 .rightContact,
.rightHeading{
	text-align:center;
	padding-top:15px;
	}
.logo{
	text-align:center;
	}
}
@media (max-width: 640px) {
.dateFld{
	padding-bottom:15px;
	}
}
@media (max-width: 500px) {
.theme1 .btmBtnsInner .signUpBtn,
.theme2 .btmBtnsInner .signUpBtn,
.theme3 .btmBtnsInner .signUpBtn{
	float:none;
	width:100%;
	margin-bottom:10px;
	}
.theme1 .btmBtnsInner .updateProfileBtn,
.theme2 .btmBtnsInner .updateProfileBtn,
.theme3 .btmBtnsInner .updateProfileBtn{
	float:none;
	width:100%;
}
.theme1 .loginPanelInner,
.theme2 .loginPanelInner,
.theme3 .loginPanelInner{
	padding:25px;
}

}
@media (max-width: 350px) {
.dateFld label{
	float:none;
	clear:both;
	}

}

/*-----------------------------------------------------------------Admin Pages Style Ends-----------------------------------------------------------------*/
/*-------------Theme 1 Home Style Starts----------------*/
@media (max-width: 975px) {
.homePage .themeSelect li{
	font-size:12px;
	margin-right:2px;
	}
}
@media (max-width: 767px) {
.homePage .topLinks{
	text-align:center;
	padding-top:10px;
	}
.homePage .mainContentInner{
	height:200px;
	-webkit-transition:height 2s ease-in;
	transition:height 2s ease-in;
	}
.homePage .mainContent{
	overflow:hidden;
	}
.homePage .leftContent{
	min-height:0;
	}
.homePage .exapandBtn{
	display:inline-block;
	}
.homePage .themeSelect{
	width:210px;
	margin:0 auto;
	}
.homePage .themeSelect li{
	line-height:31px;
	margin-right:5px;
	}
.homePage .themeSelect li a{
	margin-top: 5px;
}
.logo{
	text-align:center;
	}
}
@media (max-width: 680px) {
.homePage .homeBodyPanel .container{
	padding: 60px 20px 95px;
	}
}
@media (max-width: 630px) {

}
@media (max-width: 600px) {
.adminDropdown{
	right:auto;
	left:0;
	}
}
@media (max-width: 470px) {
.homePage .logo h2 a{
	font-size:20px;
	}
.homePage .mainHeading img{
	float:none;
	}
.homePage .headingText h1{
	font-size:30px;
}
.homePage .headingText{
	float:none;
	padding-bottom:15px;
	}
}
@media (max-width: 460px) {
.homePage .topLinks > li{
	background:none;
	
}
}
/*-------------Theme 1 Home Style Ends----------------*/